# 보안성 검증 (금보원)

### 핀테크서비스 보안 취약점 점검 절차

![<개정 2017.2.8> ](<../../.gitbook/assets/image (99).png>)

{% file src="../../.gitbook/assets/3.-_v170208.hwp" %}

