# 보안성 검증 \(금보원\)

### 핀테크서비스 보안 취약점 점검 절차

![&amp;lt;&#xAC1C;&#xC815; 2017.2.8&amp;gt; ](../../.gitbook/assets/image%20%2899%29.png)

{% file src="../../.gitbook/assets/api.pdf" %}

{% file src="../../.gitbook/assets/3.-\_v170208.hwp" %}



